body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: rgb(245, 199, 182);
    display: flex;
    align-items:center;
    justify-content:space-around;
    border: 3px solid coral;
    border-radius: 5px;
    position : sticky;
    top: 0;
    height: 200px;
    padding: 0px;
}
h1{
    color: white;
    text-align: center;
    flex-direction: column;
}


#container{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    background-color: rgb(244, 244, 229);
    border: 3px solid rgb(249, 211, 164);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.bloc{
    width: 600px;
    border-radius: 5px;
    border: 2px dotted coral;
    max-height: 400px;
    overflow: scroll;
}

#competences{
    overflow: auto;
}

h2{
    text-align: center;
    border-bottom: 1px dotted black;
    color: coral;
    padding-bottom: 0.5cm;
}

header h2{
    color: white;}
section{
    width: 350px;
    padding: 0.3cm;
    margin-top: 5px;
}

#logos{
    display: flex;
    justify-content: space-around;
}

h3{
    text-decoration: underline;
}

h5{
    font-style: italic;
}

p{
    font-size:12px;
    text-align: justify;
}

ul{
    font-size: 14px;
}

header p{
    font-size: 14px;
}

#mail{
    text-decoration: underline;
}

#avatar{
    border: 5px coral solid;
    border-radius: 50%;
}

#avatar:hover{
    opacity: 50%;
    border: black solid;
}

#projet p::first-line{
    font-weight: bold;
}

